hippo-addon-indiantax-itr-schemas/src/main/resources/in/gov/incometaxindiaefiling/y2013_2014/ITR-4S_2014_Master.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema 
	xmlns="http://incometaxindiaefiling.gov.in/master"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://incometaxindiaefiling.gov.in/master"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xml:lang="EN-US">
	
		<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:pattern value="|(\s*([\w\d_=!@#$%\^*\(\){}\[\]\|\\:;',\.\?/~`\-\+&lt;&gt;&amp;&quot;][\s\w\d_=!@#$%\^*\(\){}\[\]\|\\:;',\.\?/~`\-\+&lt;&gt;&amp;&quot;]*)\s*)"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="CreationInfo" id="CreatSec0">
		<xs:annotation>
			<xs:documentation>This element will be used by third party vendors
				and intermediaries to give details of their software or xml
				creation.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SWVersionNo" default="1.0">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:minLength value="1" />
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SWCreatedBy" default="DIT">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:minLength value="0" />
							<xs:maxLength value="25" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="XMLCreatedBy" default="DIT" id="CreatSec1">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="25" />
							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="XMLCreationDate" id="CreatSec2">
					<xs:simpleType>
						<xs:restriction base="xs:date">
							<xs:minInclusive value="2014-04-01" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IntermediaryCity" default="Delhi" id="CreatSec3">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="25" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Form_ITR4S" id="FormSec140">
		<xs:annotation>
			<xs:documentation>Enter details of IT return form</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FormName" fixed="ITR-4S" id="FormSec141">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="Description"
					fixed="For Indl having Income From Presemptive Business" id="FormSec142">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="75" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AssessmentYear" fixed="2014" id="FormSec143">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="4" />
							<xs:minLength value="4" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SchemaVer" fixed="Ver1.0" id="FormSec144">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="10" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FormVer" fixed="Ver1.0" id="FormSec145">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="10" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PersonalInfo" id="PersSec1">
		<xs:annotation>
			<xs:documentation>Enter personal information</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AssesseeName" id="PersSec2">
					<xs:annotation>
						<xs:documentation>Assessee name with Sur Name or Org Name
							mandatory.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PAN" id="PersSec3">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:length value="10" />
							<xs:pattern value="[A-Z][A-Z][A-Z][A-Z][A-Z]\d\d\d\d[A-Z]" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Address" id="PersSec4">
					<xs:annotation>
						<xs:documentation> Address of assessee</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DOB" id="PersSec5">
					<xs:simpleType>
						<xs:restriction base="xs:date">

							<xs:maxInclusive value="2014-03-31" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EmployerCategory" default="OTH" id="PersSec6">
					<xs:annotation>
						<xs:documentation>For HUF select NA for Employer category
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:maxLength value="3" />
							<xs:minLength value="2" />
							<xs:enumeration value="GOV" />
							<xs:enumeration value="PSU" />
							<xs:enumeration value="OTH" />
							<xs:enumeration value="NA" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Gender" default="M" id="PersSec7">
					<xs:annotation>
						<xs:documentation>For HUF select X for Gender</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:maxLength value="1" />
							<xs:enumeration value="M" />
							<xs:enumeration value="F" />
							<xs:enumeration value="X" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Status" default="I" id="PersSec8">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:maxLength value="1" />
							<xs:enumeration value="I" />
							<xs:enumeration value="H" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FilingStatus">
		<xs:annotation>
			<xs:documentation> Filing status of assesse</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DesigOfficerWardorCircle" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="75" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ReturnFileSec" default="11">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedInt">
							<xs:totalDigits value="2" />
							<xs:enumeration value="11" />
							<xs:enumeration value="12" />
							<xs:enumeration value="13" />
							<xs:enumeration value="14" />
							<xs:enumeration value="15" />
							<xs:enumeration value="16" />
							<xs:enumeration value="17" />
							<xs:enumeration value="18" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AckNoOriginalReturn" minOccurs="0">
					<xs:annotation>
						<xs:documentation> Enter the Acknowledgement number of the
							original return.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:maxLength value="15" />
							<xs:pattern value="[0-9]{15}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NoticeNo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="23" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NoticeDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Enter date when the notice was issued to the
							assessee to file a fresh return Sec139(9))
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date">
							<xs:minInclusive value="2014-04-01" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ReturnType">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="1" />
							<xs:enumeration value="O" />
							<xs:enumeration value="R" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ReceiptNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Enter efiling or other Ack No of Original return
							here in case of revised return
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:maxLength value="15" />
							<xs:pattern value="[0-9]{15}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OrigRetFiledDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Enter Date of filing of Original return
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date">
							<xs:minInclusive value="2014-04-01" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ResidentialStatus">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="3" />
							<xs:enumeration value="RES" />
							<xs:enumeration value="NRI" />
							<xs:enumeration value="NOR" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TaxStatus">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:enumeration value="TR" />
							<xs:enumeration value="TP" />
							<xs:enumeration value="NT" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AsseseeRepFlg" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:length value="1" />
							<xs:enumeration value="Y" />
							<xs:enumeration value="N" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="AssesseeRep" minOccurs="0" />
				<xs:element name="PortugeseCC5A" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:length value="1" />
							<xs:enumeration value="Y" />
							<xs:enumeration value="N" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PANOfSpouse" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:length value="10" />
							<xs:pattern value="[A-Z][A-Z][A-Z][P][A-Z]\d\d\d\d[A-Z]" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NoticeDateUnderSec" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:date">
							<xs:minInclusive value="2014-04-01" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ITR4S_IncomeDeductions" id="ITR4SDedPartC">
		<xs:annotation>
			<xs:documentation> Income and deduction details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IncomeFromBusinessProf" default="0"
					id="ITR4SDedPartC_BP">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IncomeFromSal" default="0"
					id="ITR4SDedPartC_sal" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TypeOfHP" minOccurs="0">
					<xs:annotation>
						<xs:documentation>House Property income Type</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="1" />
							<xs:pattern value="|S|L" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotalIncomeOfHP" default="0"
					id="ITR4SDedPartC_HP">
					<xs:annotation>
						<xs:documentation>House Property income</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:long">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IncomeOthSrc" default="0"
					id="ITR4SDedPartC_Oth">
					<xs:simpleType>
						<xs:restriction base="xs:long">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="GrossTotIncome" type="xs:long" default="0"
					id="ITR4SDedPartC_Grs" />
				<xs:element ref="UsrDeductUndChapVIA" id="ITR4SDedPartC_ChapVIA_0">
					<xs:annotation>
						<xs:documentation>Deductions from income</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DeductUndChapVIA" id="ITR4SDedPartC_ChapVIA">
					<xs:annotation>
						<xs:documentation>Deductions from income</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TotalIncome" type="xs:long" default="0"
					id="ITR4SDedPartC_totInc" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ITR4S_TaxComputation" id="ITR4STaxCompStatus">
		<xs:annotation>
			<xs:documentation>Tax computation details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TotalTaxPayable" default="0"
					id="ITR4STaxCompStatus_D1">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Rebate87A" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:maxInclusive value="2000" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TaxPayableOnRebate" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SurchargeOnAboveCrore" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>	
				<!-- <xs:element name="SurchargeOnTaxPayable" fixed="0" id="ParBTTISec4_New"/> -->
				<xs:element name="EducationCess" default="0"
					id="TR4STaxCompStatus_D2">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="GrossTaxLiability" default="0"
					id="TR4STaxCompStatus_D3">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section89" default="0"
					id="TR4STaxCompStatus_D4" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NetTaxLiability" default="0"
					id="TR4STaxCompStatus_D6">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotalIntrstPay" default="0"
					id="TR4STaxCompStatus_D7">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="IntrstPay" maxOccurs="1" minOccurs="1" />
				<xs:element name="TotTaxPlusIntrstPay" default="0"
					id="TR4STaxCompStatus_D8">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaxPaid" id="TaxPaySec0">
		<xs:annotation>
			<xs:documentation>Tax paid details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TaxesPaid" id="TaxPaySec1" />
				<xs:element name="BalTaxPayable" default="0" id="TaxPaySec2"
					minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Refund" id="RefdSec0">
		<xs:annotation>
			<xs:documentation>Refund details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RefundDue" default="0" id="RefdSec1">
					<xs:annotation>
						<xs:documentation>Refund due if Total Taxes Paid is greater than
							AggregateTaxInterest
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BankAccountNumber" id="RefdSec2">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:minLength value="9"	 />
							<xs:maxLength value="17" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DepositToBankAccount" id="RefdSec4">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IFSCCode" id="RefdSec5" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="nonEmptyString">
										<xs:pattern value="[A-Za-z]{4}[0][A-Za-z0-9]{6}" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BankAccountType" id="RefdSec6">
								<xs:simpleType>
									<xs:restriction base="nonEmptyString">
										<xs:length value="3" />
										<xs:enumeration value="SAV" />
										<xs:enumeration value="CUR" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Schedule80G">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Don100Percent" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DoneeWithPan" maxOccurs="unbounded" />
							<xs:element name="TotEligibleDon100Percent" default="0">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:totalDigits value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TotDon100Percent" default="0">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:totalDigits value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Don50PercentNoApprReqd" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DoneeWithPan" maxOccurs="unbounded" />
							<xs:element name="TotEligibleDon50Percent" default="0">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:totalDigits value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TotDon50PercentNoApprReqd" default="0">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:totalDigits value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Don100PercentApprReqd" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DoneeWithPan" maxOccurs="unbounded" />
							<xs:element name="TotEligibleDon100PercentApprReqd"
								default="0">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:totalDigits value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TotDon100PercentApprReqd" default="0">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:totalDigits value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Don50PercentApprReqd" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DoneeWithPan" maxOccurs="unbounded" />
							<xs:element name="TotEligibleDon50PercentApprReqd"
								default="0">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:totalDigits value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TotDon50PercentApprReqd" default="0">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:totalDigits value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TotalEligibleDonationsUs80G" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotalDonationsUs80G" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Verification" id="VerfSec0">
		<xs:annotation>
			<xs:documentation>Verification declaration details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Declaration" id="VerfSec1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AssesseeVerName" id="VerfSec2">
								<xs:simpleType>
									<xs:restriction base="nonEmptyString">
										<xs:minLength value="1" />
										<xs:maxLength value="127" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FatherName" id="VerfSec3">
								<xs:simpleType>
									<xs:restriction base="nonEmptyString">
										<xs:minLength value="1" />
										<xs:maxLength value="125" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AssesseeVerPAN">
								<xs:simpleType>
									<xs:restriction base="nonEmptyString">
										<xs:length value="10" />
										<xs:pattern value="[A-Z][A-Z][A-Z][A-Z][A-Z]\d\d\d\d[A-Z]" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Place" id="VerfSec4">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:minLength value="1" />
							<xs:maxLength value="50" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Date" id="VerfSec5">
					<xs:simpleType>
						<xs:restriction base="xs:date">
							<xs:minInclusive value="2014-04-01" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaxReturnPreparer" id="TrpSec0">
		<xs:annotation>
			<xs:documentation>TRP details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IdentificationNoOfTRP" id="TrpSec1">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NameOfTRP" id="TrpSec2">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ReImbFrmGov" default="0" id="TrpSec3">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NatOfBus">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Business" maxOccurs="3">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Code" default="0101">
								<xs:annotation>
									<xs:documentation>Internally Description will be captured from
										code
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="nonEmptyString">
										<xs:length value="4" />
										<xs:enumeration value="1001" />
										<xs:enumeration value="0101" />
										<xs:enumeration value="0102" />
										<xs:enumeration value="0103" />
										<xs:enumeration value="0104" />
										<xs:enumeration value="0105" />
										<xs:enumeration value="0106" />
										<xs:enumeration value="0107" />
										<xs:enumeration value="0108" />
										<xs:enumeration value="0109" />
										<xs:enumeration value="0110" />
										<xs:enumeration value="0111" />
										<xs:enumeration value="0112" />
										<xs:enumeration value="0113" />
										<xs:enumeration value="0114" />
										<xs:enumeration value="0115" />
										<xs:enumeration value="0116" />
										<xs:enumeration value="0117" />
										<xs:enumeration value="0118" />
										<xs:enumeration value="0119" />
										<xs:enumeration value="0120" />
										<xs:enumeration value="0121" />
										<xs:enumeration value="0122" />
										<xs:enumeration value="0123" />
										<xs:enumeration value="0124" />
										<xs:enumeration value="0201" />
										<xs:enumeration value="0202" />
										<xs:enumeration value="0203" />
										<xs:enumeration value="0204" />
										<xs:enumeration value="0301" />
										<xs:enumeration value="0401" />
										<xs:enumeration value="0402" />
										<xs:enumeration value="0403" />
										<xs:enumeration value="0404" />
										<xs:enumeration value="0501" />
										<xs:enumeration value="0502" />
										<xs:enumeration value="0503" />
										<xs:enumeration value="0504" />
										<xs:enumeration value="0505" />
										<xs:enumeration value="0601" />
										<xs:enumeration value="0602" />
										<xs:enumeration value="0603" />
										<xs:enumeration value="0604" />
										<xs:enumeration value="0605" />
										<xs:enumeration value="0606" />
										<xs:enumeration value="0607" />
										<xs:enumeration value="0701" />
										<xs:enumeration value="0702" />
										<xs:enumeration value="0703" />
										<xs:enumeration value="0704" />
										<xs:enumeration value="0705" />
										<xs:enumeration value="0706" />
										<xs:enumeration value="0707" />
										<xs:enumeration value="0708" />
										<xs:enumeration value="0709" />
										<xs:enumeration value="0710" />
										<xs:enumeration value="0711" />
										<xs:enumeration value="0712" />
										<xs:enumeration value="0713" />
										<xs:enumeration value="0714" />
										<xs:enumeration value="0801" />
										<xs:enumeration value="0802" />
										<xs:enumeration value="0803" />
										<xs:enumeration value="0804" />
										<xs:enumeration value="0805" />
										<xs:enumeration value="0806" />
										<xs:enumeration value="0807" />
										<xs:enumeration value="0808" />
										<xs:enumeration value="0809" />
										<xs:enumeration value="0901" />
										<xs:enumeration value="0902" />
										<xs:enumeration value="0903" />
										<xs:enumeration value="0904" />
										<xs:enumeration value="0905" />
										<xs:enumeration value="0906" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Trade" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Enter upto three proprietoty name per code
										category
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TradeName" minOccurs="0" maxOccurs="3">
											<xs:simpleType>
												<xs:restriction base="nonEmptyString">
													<xs:maxLength value="125" />
													<xs:minLength value="0" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScheduleBPForITR4S">
		<xs:annotation>
			<xs:documentation>Persumptive Income Under 44AE and 44AD
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PersumptiveInc44AD" />
				<xs:element ref="PersumptiveInc44AE" />
				<xs:element name="IncChargeableUnderBus" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:long">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="NoBooksOfAccBS" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScheduleIT">
		<xs:annotation>
			<xs:documentation>Details of Advance Tax and Self Assessment Tax
				Payments of Income Tax
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TaxPayment" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScheduleTCS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TCS" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="EmployerOrDeductorOrCollectDetl">
								<xs:annotation>
									<xs:documentation>Deductor Details</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TotalTCS" default="0">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:totalDigits value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AmtTCSClaimedThisYear" default="0">
								<xs:annotation>
									<xs:documentation>Amount out of (6) claimed for this year
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:totalDigits value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AmtClaimedBySpouse" default="0" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:totalDigits value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TDSonSalaries" id="TDSSalSec0">
		<xs:annotation>
			<xs:documentation>Salary TDS details.  </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TDSonSalary" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TDSonOthThanSals" id="TDSIntSec11">
		<xs:annotation>
			<xs:documentation>22. Details of Tax Deducted at Source on Interest
				[As per Form 16 A issued by Deductor(s)]
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TDSonOthThanSal" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="AssesseeName" id="AseNamSec0">
		<xs:annotation>
			<xs:documentation>Assessee name with Surname mandatory.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FirstName" id="AseNamSec1" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="25" />

							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MiddleName" id="AseNamSec2" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="25" />

							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SurNameOrOrgName" id="AseNamSec3">
					<xs:annotation>
						<xs:documentation>Enter Last or Sur name for Individual or HUF
							name here
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="75" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OrgOldName" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="75" />
							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address" id="AdrSec0">
		<xs:annotation>
			<xs:documentation> Address of assessee</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResidenceNo" id="AdrSec1">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="50" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ResidenceName" id="AdrSec2" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:minLength value="0" />
							<xs:maxLength value="50" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RoadOrStreet" id="AdrSec3" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="50" />
							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LocalityOrArea" id="AdrSec4">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="50" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CityOrTownOrDistrict" id="AdrSec5">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:minLength value="1" />
							<xs:maxLength value="50" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="StateCode" id="AdrSec6">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:pattern value="0[1-9]{1}|1[0-9]{1}|2[0-9]{1}|3[0-5]{1}|99" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="CountryCode" id="AdrSec13" />
				<xs:element name="PinCode" id="AdrSec7">
					<xs:annotation>
						<xs:documentation>Fill 999999 in case of Foreign Address
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="6" />
							<xs:pattern value="\d\d\d\d\d\d" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Phone" id="AdrSec8" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="STDcode" id="AdrSec9" default="0">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:totalDigits value="5" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PhoneNo" id="AdrSec10" default="0">
								<xs:simpleType>
									<xs:restriction base="xs:normalizedString">
										<xs:pattern value="[0-9]{1,10}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MobileNo" id="AdrSec12" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="10" />
							<xs:pattern value="[1-9]{1}[0-9]{9}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MobileNoSec" id="AdrSec14" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="10" />
							<xs:pattern value="[1-9]{1}[0-9]{9}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EmailAddress" id="AdrSec11">
					<xs:annotation>
						<xs:documentation>Email Id is required for receiving copy of ITR-V
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="125" />
							<xs:pattern
								value="([\.a-zA-Z0-9_\-])+@([a-zA-Z0-9_\-])+(([a-zA-Z0-9_\-])*\.([a-zA-Z0-9_\-])+)+" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EmailAddressSec" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Alternate Email Id</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="125" />
							<xs:pattern
								value="([\.a-zA-Z0-9_\-])+@([a-zA-Z0-9_\-])+(([a-zA-Z0-9_\-])*\.([a-zA-Z0-9_\-])+)+" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="CountryCode">
		<xs:simpleType>
			<xs:restriction base="nonEmptyString">
				<xs:maxLength value="4" />
				<xs:minLength value="1" />
				<xs:enumeration value="93" />
				<xs:enumeration value="355" />
				<xs:enumeration value="213" />
				<xs:enumeration value="376" />
				<xs:enumeration value="244" />
				<xs:enumeration value="1268" />
				<xs:enumeration value="54" />
				<xs:enumeration value="374" />
				<xs:enumeration value="61" />
				<xs:enumeration value="43" />
				<xs:enumeration value="994" />
				<xs:enumeration value="1242" />
				<xs:enumeration value="973" />
				<xs:enumeration value="880" />
				<xs:enumeration value="1246" />
				<xs:enumeration value="375" />
				<xs:enumeration value="32" />
				<xs:enumeration value="501" />
				<xs:enumeration value="229" />
				<xs:enumeration value="975" />
				<xs:enumeration value="591" />
				<xs:enumeration value="387" />
				<xs:enumeration value="267" />
				<xs:enumeration value="55" />
				<xs:enumeration value="673" />
				<xs:enumeration value="359" />
				<xs:enumeration value="226" />
				<xs:enumeration value="257" />
				<xs:enumeration value="855" />
				<xs:enumeration value="237" />
				<xs:enumeration value="1" />
				<xs:enumeration value="238" />
				<xs:enumeration value="236" />
				<xs:enumeration value="235" />
				<xs:enumeration value="56" />
				<xs:enumeration value="86" />
				<xs:enumeration value="57" />
				<xs:enumeration value="270" />
				<xs:enumeration value="242" />
				<xs:enumeration value="506" />
				<xs:enumeration value="225" />
				<xs:enumeration value="385" />
				<xs:enumeration value="53" />
				<xs:enumeration value="357" />
				<xs:enumeration value="420" />
				<xs:enumeration value="850" />
				<xs:enumeration value="243" />
				<xs:enumeration value="45" />
				<xs:enumeration value="253" />
				<xs:enumeration value="1767" />
				<xs:enumeration value="1809" />
				<xs:enumeration value="593" />
				<xs:enumeration value="20" />
				<xs:enumeration value="503" />
				<xs:enumeration value="240" />
				<xs:enumeration value="291" />
				<xs:enumeration value="372" />
				<xs:enumeration value="251" />
				<xs:enumeration value="679" />
				<xs:enumeration value="358" />
				<xs:enumeration value="33" />
				<xs:enumeration value="241" />
				<xs:enumeration value="220" />
				<xs:enumeration value="995" />
				<xs:enumeration value="49" />
				<xs:enumeration value="233" />
				<xs:enumeration value="30" />
				<xs:enumeration value="1473" />
				<xs:enumeration value="502" />
				<xs:enumeration value="224" />
				<xs:enumeration value="245" />
				<xs:enumeration value="592" />
				<xs:enumeration value="509" />
				<xs:enumeration value="504" />
				<xs:enumeration value="36" />
				<xs:enumeration value="354" />
				<xs:enumeration value="91" />
				<xs:enumeration value="62" />
				<xs:enumeration value="98" />
				<xs:enumeration value="964" />
				<xs:enumeration value="353" />
				<xs:enumeration value="972" />
				<xs:enumeration value="5" />
				<xs:enumeration value="1876" />
				<xs:enumeration value="81" />
				<xs:enumeration value="962" />
				<xs:enumeration value="7" />
				<xs:enumeration value="254" />
				<xs:enumeration value="686" />
				<xs:enumeration value="965" />
				<xs:enumeration value="996" />
				<xs:enumeration value="856" />
				<xs:enumeration value="371" />
				<xs:enumeration value="961" />
				<xs:enumeration value="266" />
				<xs:enumeration value="231" />
				<xs:enumeration value="218" />
				<xs:enumeration value="423" />
				<xs:enumeration value="370" />
				<xs:enumeration value="352" />
				<xs:enumeration value="389" />
				<xs:enumeration value="261" />
				<xs:enumeration value="265" />
				<xs:enumeration value="60" />
				<xs:enumeration value="960" />
				<xs:enumeration value="223" />
				<xs:enumeration value="356" />
				<xs:enumeration value="692" />
				<xs:enumeration value="222" />
				<xs:enumeration value="230" />
				<xs:enumeration value="52" />
				<xs:enumeration value="691" />
				<xs:enumeration value="377" />
				<xs:enumeration value="976" />
				<xs:enumeration value="382" />
				<xs:enumeration value="212" />
				<xs:enumeration value="258" />
				<xs:enumeration value="95" />
				<xs:enumeration value="264" />
				<xs:enumeration value="674" />
				<xs:enumeration value="977" />
				<xs:enumeration value="31" />
				<xs:enumeration value="64" />
				<xs:enumeration value="505" />
				<xs:enumeration value="227" />
				<xs:enumeration value="234" />
				<xs:enumeration value="47" />
				<xs:enumeration value="968" />
				<xs:enumeration value="92" />
				<xs:enumeration value="680" />
				<xs:enumeration value="507" />
				<xs:enumeration value="675" />
				<xs:enumeration value="595" />
				<xs:enumeration value="51" />
				<xs:enumeration value="63" />
				<xs:enumeration value="48" />
				<xs:enumeration value="14" />
				<xs:enumeration value="974" />
				<xs:enumeration value="82" />
				<xs:enumeration value="373" />
				<xs:enumeration value="40" />
				<xs:enumeration value="8" />
				<xs:enumeration value="250" />
				<xs:enumeration value="1869" />
				<xs:enumeration value="1758" />
				<xs:enumeration value="1784" />
				<xs:enumeration value="685" />
				<xs:enumeration value="378" />
				<xs:enumeration value="239" />
				<xs:enumeration value="966" />
				<xs:enumeration value="221" />
				<xs:enumeration value="381" />
				<xs:enumeration value="248" />
				<xs:enumeration value="232" />
				<xs:enumeration value="65" />
				<xs:enumeration value="421" />
				<xs:enumeration value="386" />
				<xs:enumeration value="677" />
				<xs:enumeration value="252" />
				<xs:enumeration value="28" />
				<xs:enumeration value="211" />
				<xs:enumeration value="35" />
				<xs:enumeration value="94" />
				<xs:enumeration value="249" />
				<xs:enumeration value="597" />
				<xs:enumeration value="268" />
				<xs:enumeration value="46" />
				<xs:enumeration value="41" />
				<xs:enumeration value="963" />
				<xs:enumeration value="992" />
				<xs:enumeration value="66" />
				<xs:enumeration value="670" />
				<xs:enumeration value="228" />
				<xs:enumeration value="676" />
				<xs:enumeration value="1868" />
				<xs:enumeration value="216" />
				<xs:enumeration value="90" />
				<xs:enumeration value="993" />
				<xs:enumeration value="688" />
				<xs:enumeration value="256" />
				<xs:enumeration value="380" />
				<xs:enumeration value="971" />
				<xs:enumeration value="44" />
				<xs:enumeration value="255" />
				<xs:enumeration value="2" />
				<xs:enumeration value="598" />
				<xs:enumeration value="998" />
				<xs:enumeration value="678" />
				<xs:enumeration value="58" />
				<xs:enumeration value="84" />
				<xs:enumeration value="967" />
				<xs:enumeration value="260" />
				<xs:enumeration value="263" />
				<xs:enumeration value="9999" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TaxesPaid" id="TaxPadSec0">  
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AdvanceTax" default="0" id="TaxPadSec1"
					minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TDS" default="0" id="TaxPadSec2"
					minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TCS" default="0" id="TaxPadSec3"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Required for ITR4</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SelfAssessmentTax" default="0" id="TaxPadSec4"
					minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotalTaxesPaid" default="0" id="TaxPadSec5">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TDSonSalary" id="TDSSalSec1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EmployerOrDeductorOrCollectDetl" id="TDSSalSec4" />
				<xs:element name="IncChrgSal" default="0" id="TDSSalSec5">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotalTDSSal" default="0" id="TDSSalSec8">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmployerOrDeductorOrCollectDetl" id="NamEDCSec0">
		<xs:annotation>
			<xs:documentation>Dedcutor Details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TAN">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:length value="10" />
							<xs:pattern value="[A-Z][A-Z][A-Z][A-Z]\d\d\d\d\d[A-Z]" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EmployerOrDeductorOrCollecterName" id="NamEDCSec1">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TDSonOthThanSal" id="TDSIntSec1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EmployerOrDeductorOrCollectDetl" id="TDSIntSec14">
					<xs:annotation>
						<xs:documentation>Deductor Details</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="UniqueTDSCerNo" id="TDSCerNo"
					minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="8" />
							<xs:pattern value="|[a-zA-Z0-9]{8}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DeductedYr" id="DedYr" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="4" />
							<xs:pattern value="\d\d\d\d" />
							<xs:maxInclusive value="2013" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotTDSOnAmtPaid" default="0" id="TDSIntSec7">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ClaimOutOfTotTDSOnAmtPaid" default="0"
					id="TDSIntSec8">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AmtClaimedBySpouse" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="TaxPayment">
		<xs:annotation>
			<xs:documentation>Tax payment detail #</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BSRCode" id="TaxpaySec02">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:length value="7" />
							<xs:pattern value="\d\d\d\d\d\d\d" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DateDep" id="TaxpaySec04">
					<xs:simpleType>
						<xs:restriction base="xs:date">
							<xs:minInclusive value="2013-04-01" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SrlNoOfChaln" id="TaxpaySec05">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="5" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Amt" default="0" id="TaxpaySec06">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="DoneeWithPan">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DoneeWithPanName">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DoneePAN">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:length value="10" />
							<xs:pattern value="[A-Z][A-Z][A-Z][A-Z][A-Z]\d\d\d\d[A-Z]" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="AddressDetail" />
				<xs:element name="DonationAmt" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EligibleDonationAmt" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="AddressDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AddrDetail">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="200" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CityOrTownOrDistrict" id="AdrSec5a">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:minLength value="1" />
							<xs:maxLength value="50" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="StateCode" id="AdrSec6a">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:pattern value="0[1-9]{1}|1[0-9]{1}|2[0-9]{1}|3[0-5]{1}|99" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PinCode" id="AdrSec7a">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="6" />
							<xs:pattern value="\d\d\d\d\d\d" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
 	<xs:element name="UsrDeductUndChapVIA">
		<xs:annotation>
			<xs:documentation> Deductions from income</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Section80C" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80CCC" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80CCDEmployeeOrSE" default="0"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>For Employee/SelfEmployed</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80CCDEmployer" default="0"
					minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80D" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80DD" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80DDB" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80E" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80EE" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80G" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80GG" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80GGA" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80GGC" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80U" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80RRB" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80QQB" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80IA" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80IAB" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80IB" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80IC" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80ID" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80JJA" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80CCG" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80TTA" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotalChapVIADeductions" default="0"
					minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
 	<xs:element name="DeductUndChapVIA">
		<xs:annotation>
			<xs:documentation> Deductions from income</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Section80C" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80CCC" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80CCDEmployeeOrSE" default="0"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>For Employee/SelfEmployed</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80CCDEmployer" default="0"
					minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80D" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80DD" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80DDB" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80E" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80EE" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80G" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80GG" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80GGA" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80GGC" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80U" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80RRB" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80QQB" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80IA" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80IAB" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80IB" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80IC" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80ID" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80JJA" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80CCG" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Section80TTA" default="0" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotalChapVIADeductions" default="0"
					minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  	<xs:element name="IntrstPay" id="IntPaySec0">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IntrstPayUs234A" default="0" id="IntPaySec1">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IntrstPayUs234B" default="0" id="IntPaySec2">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IntrstPayUs234C" default="0" id="IntPaySec3">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotalIntrstPay" maxOccurs="1"
					minOccurs="0" default="0" id="IntPaySec4">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="PersumptiveInc44AD">
		<xs:annotation>
			<xs:documentation>Computation of Persumptive Income Under 44AD
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GrsTrnOverOrReceipt" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="8" />
							<xs:maxInclusive value="10000000" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotPersumptiveInc44AD" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="PersumptiveInc44AE">
		<xs:annotation>
			<xs:documentation>Computation of Persumptive Income Under 44AE
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PersumptiveIncHeavyVehicle" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PersumptiveIncOtherVehicle" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotPersumInc44AE" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="8" />
							<xs:maxInclusive value="10000000" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="NoBooksOfAccBS">
		<xs:annotation>
			<xs:documentation>Enter only if No books of accounts are maintaned
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TotSundryDbtAmt" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotSundryCrdAmt" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotStkInTradAmt" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CashBalAmt" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="AssesseeRep" id="AseRepSec0">
		<xs:annotation>
			<xs:documentation> Assessee representative</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RepName" id="AseRepSec2">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RepAddress" id="AseRepSec3">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:maxLength value="200" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RepPAN" id="AseRepSec4" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="nonEmptyString">
							<xs:length value="10" />
							<xs:pattern value="[A-Z][A-Z][A-Z][A-Z][A-Z]\d\d\d\d[A-Z]" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  
</xs:schema>
